{% extends 'base.html.twig' %}

{% block title %}New Colleague{% endblock %}

{% block body %}
    <h1 class="mt-5">Create new Colleague</h1>

    {{ include('colleague/_form.html.twig') }}

    <br />
    <a href="{{ path('colleague_index') }}">back to list</a>
{% endblock %}
